<tab-bs-group [(activeIndex)]="currentIndex">
  <tab-panel title="tab 1">
    <ng-template tabContent>
      tab 1
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="tab 2">
    <ng-template tabContent>
      tab 2
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="tab 3">
    <ng-template tabContent>
      tab 3
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="tab 4">
    <ng-template tabContent>
      tab 4
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="tab 5">
    <ng-template tabContent>
      tab 5
      <app-head></app-head>
    </ng-template>
  </tab-panel>
</tab-bs-group>
